@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Tenor+Sans&display=swap');
:root{
  --mainblue:#142b6f;

}
body {
  margin: 0;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tenor Sans', sans-serif;
 color: var(--mainblue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
